{{ define "content"}}
<div>
    <h1>
        Yeni post ekleme
        <a href="/admin/" class="btn btn-outline-primary float-right">
            <i class="fa fa-arrow-left"> geri dön </i>
        </a>
        <hr>
    </h1>
</div>


<form action="/admin/add" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label>Blog basligi</label>
    <input type="text" class="form-control" name="blog-title">
  </div>

  <div class="form-group">
    <label>Blog aciklamasi</label>
    <textarea name="blog-desc" cols="30" rows="2" class="form-control"></textarea>
  </div>

  <div class="form-group">
    <label>Katgegori</label>
    <select name="blog-category" class="form-control">
      <option value="1">Yapay zeka</option>
      <option value="2">Siber güvelik</option>
      <option value="3">Oyun geliştirme</option>
      <option value="4">Roma hukuku</option>
      <option value="5">Bilişim hukuku</option>
      <option value="6">Kamu hukuku</option>
    </select>
  </div>

  <div class="form-group">
    <label>Blog görseli</label>
    <input type="file" class="form-control-file" name="blog-picture">
  </div>

  <div class="form-group">
    <label>Blog icerigi</label>
    <textarea name="blog-content" cols="30" rows="2" class="form-control" id="summernote"></textarea>
  </div>
  <button class="btn btn-outline-success w-100 my-3" type="submit">yeni blog ekle</button>
</form>  

{{end}}