{{define "navbar"}}
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

   

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

    
        <!-- Nav Item - Alerts -->
        <li class="nav-item dropdown no-arrow mx-1" >
            <a class="nav-link dropdown-toggle" href="/admin/logout">
                <i class="fas fa-power-off mr-2"></i>
                <h5 style="color: brown;"><strong>çikiş yap</strong></h5>

            </a>
        </li>



    </ul>

</nav>
{{ end }}